
Assignment/assignment1/cs231n/datasets/cifar-10-batches-py/data_batch_1
*.meta
Assignment/assignment1/cs231n/datasets/cifar-10-batches-py/data_batch_2
Assignment/assignment1/cs231n/datasets/cifar-10-batches-py/data_batch_3
Assignment/assignment1/cs231n/datasets/cifar-10-batches-py/data_batch_4
Assignment/assignment1/cs231n/datasets/cifar-10-batches-py/data_batch_5
Assignment/assignment1/cs231n/datasets/cifar-10-batches-py/readme.html
Assignment/assignment1/cs231n/datasets/cifar-10-batches-py/test_batch
